.parallaximg1{
    padding-top: 60px;
    /* padding-bottom: 200px; */
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5b2a2304da02bcdfa5960061/1530178031718-BBOIVD27IO8QHFWKSSDQ/image-asset.jpeg?format=750w);
    background-attachment: fixed;
    background-size: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover; 
    background-repeat: no-repeat;
    background-position: bottom;
}

.parallaximg2{
    padding-top: 200px;
    padding-bottom: 205px;
}

.parallaximg3{
    padding-top: 60px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5b2a2304da02bcdfa5960061/1539014753860-WDJEP33OO08I0VHH5LMV/AO3I3028-2-min.jpg?format=1500w);
    background-size: fixed;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover; 
    background-repeat: no-repeat;
    background-position: top center;
}